.navigation
    position fixed
    top 0
    left 0
    right 0
    background-color #61c9a4
    color #ffffff

.navigation__inner
    width 940px
    margin 0 auto
    position relative

.navigation__header
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;

.navigation__menu
    position absolute
    top 0
    right 0
    font-size 1.2em
    line-height 2.5em

.navigation__menu-link
    color #f0f3ee
    padding 0.1em 0.3em
    text-decoration none

    &.active
        background #1a1a1a
        border-radius 5px
