.project
    margin-bottom 2em

.project__image
    border 5px solid #61c9a4
    border-radius 5px
    vertical-align top

.project__info
    display inline-block
    margin-left 2em
    max-width 30em

.project__header
    font-size 2em
    text-align center
    margin 1em 0

.project__link
    background #65caa6
    color #f9fffd
    text-decoration none

    &:hover
        text-decoration none
        background #1a1a1a
