@import 'vars.styl'

.resume__section
    margin 1em 0 2em

.resume_header
    text-transform uppercase
    font-weight normal
    font-size 24px
    margin 0.5em 1em

.resume__table
    width 100%
    border-collapse collapse

.resume__table-row
    border-bottom 1px solid #61c9a4

    &:last-child
        border-bottom none

.resume__table-name-col
    width 35%
    padding 0.5em

.resume__table-value-col
    padding 0.5em

.resume__link
    color link-color
    text-decoration none

    &:hover
        text-decoration underline
