doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
        link(href="styles.styl", rel="stylesheet", type="text/css", media="all")
        title Igor Zoriy - Frontend Developer

    body
        div.page
            h1.page-header Igor Zoriy
            h2.page-subheader Frontend/JavaScript Developer
            h2.page-subheader Novi Sad, Serbia

            div.resume (
                a(href="resume.pdf") my resume
                |)

            h3.section-header Contacts
            ul.list
                li
                    a.list-link(href="https://github.com/igorzoriy") GitHub
                li
                    a.list-link(href="http://www.linkedin.com/in/igorzoriy") LinkedIn
                li
                    a.list-link(href="https://www.facebook.com/igor.zoriy") Facebook
                li
                    a.list-link(href="https://t.me/igor_zoriy") Telegram
                li
                    a.list-link(href="skype:igor.zoriy?add") Skype

            h3.section-header Pet projects
            ul.list
                li
                    a.list-link(href="https://github.com/igorzoriy/feed-my-telegram") Feed My Telegram
                    |&nbsp;-&nbsp;Service for translating updates from RSS/Twitter (TypeScript, Node.js).
                li
                    a.list-link(href="https://github.com/igorzoriy/learn-words") Learn Words
                    |&nbsp;-&nbsp;WebApp for learning new words (TypeScript, Redux, React, Webpack, Jest).
                li
                    a.list-link(href="https://github.com/igorzoriy/atom-git-status") Atom Git Status
                    |&nbsp;-&nbsp;Atom plugin for showing current git status of project (Atom&nbsp;API, Babel, ES6).
                li
                    a.list-link(href="https://github.com/igorzoriy/gulp-html2pdf") Gulp HTML to PDF
                    |&nbsp;-&nbsp;Gulp plugin for export HTML to PDF (Node streams).
                li
                    a.list-link(href="https://github.com/igorzoriy/grunt-backup") Grunt Backup
                    |&nbsp;-&nbsp;Grunt plugin for making backups (Node.js, NodeUnit).
                li
                    a.list-link(href="https://github.com/igorzoriy/snake-canvas") Snake on HTML 5 Canvas
                    |&nbsp;-&nbsp;Small and simple game on Pure JS (Canvas, QUnit).
                li
                    a.list-link(href="https://github.com/igorzoriy/sieve-of-eratosthenes-canvas") Sieve of Erathosthenes
                    |&nbsp;-&nbsp;Sieve of Erathosthenes on HTML 5 Canvas (Canvas).

        script.
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () { try { w.yaCounter23218936 = new Ya.Metrika({id: 23218936, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true}); } catch (e) { } });
                    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            img(
                src="//mc.yandex.ru/watch/23218936"
                style="position:absolute; left:-9999px;"
                alt=""
            )
