/* reset */

html,
body,
h1,
h2,
ul,
li {
    margin: 0;
    padding: 0;
}

/* common */

body {
    background: #f0f3ee;
    color: #5d5c5d;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
}

a {
    text-decoration: none;
}

/* layout */

.layout {
    width: 940px;
    margin: 0 auto;
}

/* header */
.top-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #61c9a4;
    color: #ffffff;
}

.top-header {
    position: relative;
}

.top-container h1 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
}

.top-container .menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2em;
    line-height: 2.5em;
}

.top-container .menu a {
    color: #f0f3ee;
    padding: 0.1em 0.3em;
}

.top-container .menu .active {
    background: #1a1a1a;
    border-radius: 5px;
}

/* pages */
.page {
    min-height: 100em;
    padding: 4em 0 25em;
    text-align: justify;
}

.page ul {
    margin-left: 2em;
}

.page h2 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}
.item-container {
    margin-bottom: 2em;
}

.item-container img {
    border: 5px solid #61c9a4;
    border-radius: 5px;
    vertical-align: top;
}

.item-container h3 {
    font-size: 2em;
    text-align: center;
}

.item-container a {
    background: #65caa6;
    color: #f9fffd;
}

.item-container a:hover {
    text-decoration: none;
    background: #1a1a1a;
}

.item-container .item {
    display: inline-block;
    margin-left: 2em;
    max-width: 30em;
}
