body
    background #f0f3ee
    color #5d5c5d
    font-family Helvetica, Arial, sans-serif
    font-size 16px
    line-height 1.25em

.page
    width 800px
    margin 0 auto
    padding 4em 0

.page-header
    font-size 3em
    margin 0.5em 0
    text-align center
    line-height 1
    position relative

.page-subheader
    font-size 1.75em
    text-align center
    margin 0.3em 0
    line-height 1

.resume
    text-align: center
    font-size: 1.5em
    margin: 0.6em 0

.resume a
    color #5f69ee
    text-decoration none

.section-header
    font-size 1.25em
    margin 0.75em 0

.list
    margin 1em 1em 2em
    line-height 1.5

.list-link
    color #5f69ee
    text-decoration none
