block vars

doctype html
html(lang="en")
    include ./header.jade

    body
        include ./navigation.jade
        div.page
            block page-header
                h2.page__header
                    =pageHeader
            block page-content
        include ./metrika.jade
