block vars

include ./header.jade

body
    include ./navigation.jade
    div.page
        block page-header
            h2.page__header
                =pageHeader
        block page-content

    include ./metrika.jade
