header.navigation
    div.navigation__inner
        h1.navigation__header Igor Zoriy: Web Developer
        div.navigation__menu
            a.navigation__menu-link.active(href="#about") About me
            a.navigation__menu-link(href="#projects") Projects
            a.navigation__menu-link(href="#experiments") Experiments
            a.navigation__menu-link(href="#contacts") Contacts and Profiles
