div#about.page
    h2.page__header About me
    p.
        Hello. My name is Igor Zoriy. I'm a web-developer.
        I'm skilled in client-side development:
    ul.list
        li JavaScript - 4 years
        li BackboneJS - 2 years
        li HTML and CSS - 3 years
        li LESS - 2 years

    p Also I'm skilled in server-side development:
    ul.list
        li PHP - 6 years
        li Symfony and Doctrine - 3 years
        li NodeJS - half year

    p.
        I prefer to write unit tests for code and use convenient tools in my job (like Grunt or Gulp).
        Lately I've been interested in frontend technologies like CSS3, HTML5, WebGL, SVG etc.
    p.
        I like to spend my vacation traveling. And I like living in calm and beautiful places.
        Also I like to read books and play old console games.
