extends ./partials/layout.jade

block vars
    - var page = 'contacts'
    - var pageHeader = 'My contacts and links on profiles'

block page-content
    h3.list__header Contacts:
    ul.list
        li
            a.list__link(href="mailto:work@igorzoriy.com") Email
        li
            a.list__link(href="skype:igor.zoriy?add") Skype

    h3.list__header Job:
    ul.list
        li
            a.list__link(href="https://github.com/igorzoriy") GitHub
        li
            a.list__link(href="http://www.linkedin.com/in/igorzoriy") LinkedIn
        li
            a.list__link(href="http://igorzoriy.moikrug.ru") MoiKrug
        li
            a.list__link(href="http://brainstorage.me/IgorZoriy") BrainStorage

    h3.list__header Other:
    ul.list
        li
            a.list__link(href="https://twitter.com/igor_zoriy") Twitter
        li
            a.list__link(href="https://www.facebook.com/igor.zoriy") FaceBook
        li
            a.list__link(href="http://habrahabr.ru/users/nightstalker/") HabraHabr
        li
            a.list__link(href="http://htmlacademy.ru/public_profiles/id1564") HTML Academy
