extends ./partials/layout.jade

block vars
    - var page = 'experiments'
    - var pageHeader = 'My experiments with new technologies'

block page-content
    ul.list
        - for (var i = 0; i < experiments.length; i++)
            - var item = experiments[i]
            li
                a.list__link(href=item.url)
                    =item.title
                | &nbsp;-&nbsp;
                =item.description
