extends ./partials/layout.jade

block vars
    - var page = 'resume'
    - var pageHeader = 'Resume'

block page-content
    section.resume__section
        h3.resume_header Abstract
        table.resume__table
            tbody
                - for (var key in abstract)
                    tr.resume__table-row
                        td.resume__table-name-col
                            =key
                            |:
                        td.resume__table-value-col
                            =abstract[key]

    section.resume__section
        h3.resume_header Contacts
        table.resume__table
            tbody
                - for (var i = 0; i < contacts.length; i++)
                    - var item = contacts[i]
                    tr.resume__table-row
                        td.resume__table-name-col
                            =item.name
                            | :
                        td.resume__table-value-col
                            a.resume__link(href=item.url)
                                =item.value

    section.resume__section
        h3.resume_header Skills
        table.resume__table
            - var cols = 3
            - for (var key in skills)
                - var list = skills[key]
                - var rows = Math.ceil(list.length / cols)
                - for (var row = 1; row <= rows; row++)
                    - var cls = row == rows ? 'resume__table-row' : ''
                    tr(class =cls)
                        if row == 1
                            th.resume__table-header-col(rowspan =rows)
                                =key
                                | :
                        - for (var col = 1; col <= cols; col++)
                            td.resume__table-skill-col
                                = list[row * col - 1]
